{% extends 'base.html' %}

{% block title %}Erro 403{% endblock %}

{% block content %}
<div class="px-4 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Erro 403 - Acesso negado! 🔒</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Hm, parece que você encontrou uma área VIP! Esse é o Erro 403, o que significa que, infelizmente,
            essa página está reservada para certos visitantes.

            Mas não se preocupe! Temos muitas outras páginas onde você é mais do que bem-vindo. Dê uma olhada
            por aí, e se precisar de ajuda, estamos a um clique de distância. 👍
        </p>
    </div>
</div>
{% endblock %}