{% extends 'base.html' %}

{% block title %}Erro 404{% endblock %}

{% block content %}
<div class="px-4 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Erro 404 - Não encontramos o que você procura! 🔍</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Ixi! Parece que a página que você estava buscando se perdeu no caminho. Esse é o Erro 404, que surge
            quando o conteúdo desejado já não está por aqui ou deu uma escapadinha.

            Mas não desanime! Que tal dar uma olhada em outras seções do site? Com certeza temos algo
            interessante esperando por você! E, claro, se precisar de uma mãozinha, estamos prontos para ajudar
            a encontrar o que você precisa.

            Vamos continuar a exploração juntos? 😊
        </p>
    </div>
</div>
{% endblock %}